version: '3.9'

services:
  parser_nft:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=nft_history
      - SUPPORTED_PARSERS=NftHistoryParser
      - KAFKA_TOPICS=ton.public.nft_transfers
      - COMMIT_BATCH_SIZE=20
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_jetton_metadata:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=jetton_metadata
      - SUPPORTED_PARSERS=JettonMastersMetadataParser
      - KAFKA_TOPICS=ton.public.jetton_masters
      - COMMIT_BATCH_SIZE=1
      - MIN_MATURITY_SECONDS=30
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_core_prices:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=core_prices
      - SUPPORTED_PARSERS=CorePricesUSDT,CorePricesLSDstTON,CorePricesLSDtsTON,CorePricesStormTrade,CorePricesHipoTON
      - KAFKA_TOPICS=ton.public.latest_account_states
      - KAFKA_OFFSET_RESET=latest
      - COMMIT_BATCH_SIZE=1
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_messages:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=messages_parsers
      - SUPPORTED_PARSERS=StonfiSwap,StonfiSwapV2,DedustSwap,TradoorPerpOrder,TradoorOptionOrder,GasPumpTrade,TradoorPerpPositionChange,EvaaSupplyParser,EvaaWithdrawAndLiquidationParser,JettonMintParser,HipoTokensMinted,TonFunTrade,TONCOSwap
      - KAFKA_TOPICS=ton.public.messages
      - MIN_MATURITY_SECONDS=300
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_megaton:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=jettons_megaton
      - SUPPORTED_PARSERS=MegatonDexSwap
      - KAFKA_TOPICS=ton.public.jetton_transfers
      - MIN_MATURITY_SECONDS=300
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M
        
  parser_dex_tvl_parsing:
    build: ./
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      - KAFKA_GROUP_ID=dex_tvl_parsing
      - SUPPORTED_PARSERS=TVLPoolStateParser
      - KAFKA_TOPICS=ton.public.latest_account_states
      - COMMIT_BATCH_SIZE=1
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_staking_pools:
    build: ./
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      - KAFKA_GROUP_ID=staking_pools
      - SUPPORTED_PARSERS=StakingPoolsParser
      - KAFKA_TOPICS=ton.public.latest_account_states
      - COMMIT_BATCH_SIZE=1
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_nft_items_parser:
    build: ./
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      - KAFKA_GROUP_ID=nft_items_parser
      - SUPPORTED_PARSERS=NFTItemsParser
      - KAFKA_TOPICS=ton.public.latest_account_states
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M
  # parser_jetton_wallets_recover:
  #   build: ./
  #   restart: always
  #   deploy:
  #     mode: replicated
  #     replicas: 4
  #   environment:
  #     - KAFKA_GROUP_ID=recovery_jetton_wallets
  #     - SUPPORTED_PARSERS=JettonWalletsRecover
  #     - KAFKA_TOPICS=ton.public.latest_account_states
  #   env_file:
  #     - parser.env
  #   logging:
  #     driver: local
  #     options:
  #       max-size: 10M

  parser_dex_price_discovery:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=dex_prices
      - SUPPORTED_PARSERS=PriceDiscovery
      - KAFKA_TOPICS=ton.parsed.dex_swap_parsed
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_jetton_wallets:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=jetton_wallet_balances
      - SUPPORTED_PARSERS=JettonWalletBalancesParser
      - KAFKA_TOPICS=ton.public.jetton_wallets
      - COMMIT_BATCH_SIZE=20
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_nft_collection_metadata:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=nft_collection_metadata
      - SUPPORTED_PARSERS=NFTCollectionMetadataParser
      - KAFKA_TOPICS=ton.public.nft_collections
      - COMMIT_BATCH_SIZE=1
      - MIN_MATURITY_SECONDS=30
      - TONAPI_ONLY_MODE=false
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M

  parser_nft_item_metadata:
    build: ./
    restart: always
    environment:
      - KAFKA_GROUP_ID=nft_item_metadata
      - SUPPORTED_PARSERS=NFTItemMetadataParser
      - KAFKA_TOPICS=ton.parsed.nft_items
      - COMMIT_BATCH_SIZE=1
      - MIN_MATURITY_SECONDS=30
      - TONAPI_ONLY_MODE=true
    env_file:
      - parser.env
    logging:
      driver: local
      options:
        max-size: 10M


networks:
  default:
    name: database_default
    external: true
